@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet');

*{
  margin: 0;
  padding:0;
  font-family: "PT+Sans";
}

.container{
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
}

body{
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: rgb(206, 10, 10);
}

img{
  height: 200px;
  width: 225px;
  border-radius: 90px;
  margin: 15px 45px;
}

.greeting{
  place-content: center;
}

h1{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
  color: rgb(206, 10, 10);
}

p{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(238, 215, 13);
  color:rgb(206, 10, 10);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.btn:last-child{
  margin-left: 20px;
}

.btn:hover{
  background-color: rgb(247, 25, 9);
  color:rgb(238, 215, 13);
}

.likes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-left: 26px;
  margin-right: 7px;
}

.counter{
  font-size: 34px;
  margin-left: 55px;
  margin-top: 6.5px;
}

.heart{
  width: 55px;
  height: 40px;
  margin-left: 15px;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.twitter{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 25.5px;
}

.linkedin{
  width: 60px;
  height: 60px;
  margin: 0 6px 13px 0;
}

@media screen and (min-width:375px){


}